In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
!ls

ineuron.db  sample_data

In [4]:
c = db.cursor()

In [5]:
c.execute('create table fsds(name text , batchid int , marks real)')

In [6]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")

In [7]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")

In [8]:
data = c.execute("select * from fsds")

In [9]:
for i in data:
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [10]:
db.commit()

In [11]:
db.close()

In [12]:
!ls

ineuron.db  sample_data

In [13]:
db = sqlite3.connect("ineuron.db")

In [14]:
c = db.cursor()

In [15]:
data = c.execute("select * from fsds where marks > 400")

In [16]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [17]:
data = c.execute("select * from fsds where name = 'sudh' ")

In [18]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [19]:
data = c.execute("select name , marks from fsds")

In [20]:
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [21]:
data = c.execute("select name ,marks from fsds order  by marks ")

In [22]:
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [23]:
db.close()

In [24]:
db = sqlite3.connect("person.db")

In [25]:
c = db.cursor()

In [26]:
c.execute("create table person_table(name text , emailid text , age int , salary real)")

In [27]:
c.execute("insert into person_table values('sudh' , 'sudhanshu@ineuron.ai' , 234 , 23424)")
c.execute("insert into person_table values('prashant' ,'prashant@ineuron.ai' , 345 , 23543543)")
c.execute("insert into person_table values('krish' , 'krish@ineuron.ai' , 2345 ,34534564)")
c.execute("insert into person_table values('sunnny' ,'sunny@ineuron.ai' , 2354,7789797)")

In [28]:
data = c.execute("select * from person_table")

In [29]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [30]:
db.commit()

In [31]:
db.close()

In [32]:
!ls

ineuron.db  person.db  sample_data

In [33]:
db = sqlite3.connect('ineuron.db')

In [34]:
c = db.cursor()

In [35]:
c.execute('drop table fsds')

In [42]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [43]:
!ls

ineuron.db  jobdb.db  person.db  sample_data

In [44]:
db.close()

In [45]:
db = sqlite3.connect('person.db')

In [46]:
c = db.cursor()

In [47]:
data  = c.execute('SELECT * from person_table limit 2 ')

In [48]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)

In [49]:
db.close()

In [50]:
db = sqlite3.connect('jobdb.db')

In [51]:
c = db.cursor()

In [59]:
c.execute('create table student(student_id int , student_name text , student_mailid text , marks int)')

In [60]:
c.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

In [61]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [62]:
c.execute("insert into address values(235 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [63]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [64]:
for i in c.execute("select * from address"):
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [65]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [66]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null")

In [67]:
for i in data :
    print(i)

(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [68]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id ")

In [69]:
for i in data :
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [70]:
data = c.execute("select * from address s right join student a on s.student_id=a.student_id ")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [71]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [72]:
c.execute('delete from student where student_id > 2000')

In [73]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [74]:
data = c.execute("select * from student")

In [75]:
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [76]:
c.execute("update student set student_id = 1000 where student_id = 236")

In [77]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [78]:
db.close()